
*.qws
*.flock
*.db_info
*.cdb
*.kpt
*.hdb
*.qmsg
*.rdb
*.ddb
*.xml
*.bpm
*.idb
*.logdb
*.hsd
*.hier_info
*.hif
*.html
*.txt
*.ammdb
*.nvd
*.sci
*.tdb
*.tmw_info
*.json
*.dfp
*.rcfdb
*.dpi
*.hb_info
*.sig
*/incremental_db/README
*.rpt
*.done
*.smsg
*.summary
*.jdi
*.pin
*.sld
*.sof
*.sft
*.vo
*.xrf
